@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$title-ff: 'Lato', sans-serif;
$body-ff: 'Lato', sans-serif;
$btn-ff: 'Lato', sans-serif;

$body-color: #3c3c3c;
$primary-color: #99cccc;
$secondary-color: #fff;
$accent-color: #526a88;

$border-width: 2px;

$body-bg: $secondary-color;

$letter-space: .16em;